# NOTE: This I2P config file must use UTF-8 encoding
i2cp.tcp.bindAllInterfaces=true
i2np.laptopMode=false
i2np.lastIPChange=1396645637756
i2np.udp.addressSources=local,upnp,ssu
i2np.udp.enable=true
i2np.udp.internalPort=13768
i2np.udp.port=13768
i2np.upnp.enable=true
router.dynamicKeys=false
router.firstInstalled=1396645540832
router.firstVersion=0.9.12
router.inboundPool.backupQuantity=0
router.inboundPool.length=2
router.inboundPool.lengthVariance=1
router.inboundPool.quantity=2
router.outboundPool.backupQuantity=0
router.outboundPool.length=3
router.outboundPool.lengthVariance=0
router.outboundPool.quantity=2
router.passwordManager.migrated=true
router.previousVersion=0.9.12
router.updateDisabled=true
router.updateLastInstalled=1396645540832
routerconsole.newsLastUpdated=0
